# Maven specific files
/target/
*.iml
.idea/
*.class
.mvn
mvnw
mvnw.cmd

# Other files
.gitattributes
HELP.md

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
/.project
/.settings/
/.vscode/

# Exclude temporary files
*.swp